<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Clientes</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="navbar">

    <h2>Gestión de Clientes</h2>

    <a th:href="@{/home}" class="back-home">
        Volver al Home
    </a>

</div>

<div class="crud-container">

    <div class="crud-header">
        <h1 class="crud-title">Lista de Clientes</h1>
    </div>

    <div class="crud-actions">
        <a th:href="@{/clientes/nuevo}" class="add-btn">
            Nuevo Cliente
        </a>
    </div>

    <table>

        <thead>
        <tr>
            <th>DPI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dirección</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="cliente : ${clientes}">

            <td th:text="${cliente.dpi_cliente}"></td>
            <td th:text="${cliente.nombre_cliente}"></td>
            <td th:text="${cliente.apellido_cliente}"></td>
            <td th:text="${cliente.direccion}"></td>
            <td th:text="${cliente.estado}"></td>

            <td>
                <div class="table-actions">

                    <a th:href="@{/clientes/editar/{id}(id=${cliente.dpi_cliente})}" class="edit-btn">
                        Editar
                    </a>

                    <form th:action="@{/clientes/eliminar/{id}(id=${cliente.dpi_cliente})}" method="post">
                        <button type="submit" class="delete-btn">
                            Eliminar
                        </button>
                    </form>

                </div>
            </td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>