<!DOCTYPE html>
<html>

<head>
    <title>Clientes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="navbar">

    <h2>Gestión de Clientes</h2>

    <a href="/home" class="back-home">
        Volver al Home
    </a>

</div>


<div class="crud-container">

    <div class="crud-header">
        <h1 class="crud-title">Lista de Clientes</h1>
    </div>

    <div class="crud-actions">
        <button class="add-btn">
            Nuevo Cliente
        </button>
    </div>

    <table>

        <thead>
        <tr>

            <th>DPI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dirección</th>
            <th>Estado</th>

        </tr>
        </thead>

        <tbody>

        <tr>

            <td>12345678101</td>
            <td>Juan</td>
            <td>Pérez</td>
            <td>8a Av. 12-34 Z.4</td>
            <td>1</td>

            <td>
                <div class="table-actions">
                    <button class="edit-btn">Editar</button>
                    <button class="delete-btn">Eliminar</button>
                </div>
            </td>

        </tr>

        <tr>

            <td>87654321101</td>
            <td>Javier</td>
            <td>del Cid</td>
            <td>9a Calle 23-55 Z.6</td>
            <td>0</td>

            <td>
                <div class="table-actions">
                    <button class="edit-btn">Editar</button>
                    <button class="delete-btn">Eliminar</button>
                </div>
            </td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>