<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>DetalleVenta</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="navbar">
    <h2>Gestión de Detalles de Ventas</h2>

    <a th:href="@{/home}" class="back-home">
        Volver al Home
    </a>
</div>

<div class="crud-container">

    <div class="crud-header">
        <h1 class="crud-title">Lista de Detalles de Ventas</h1>
    </div>

    <!-- BOTÓN NUEVO -->
    <div class="crud-actions">
        <a th:href="@{/detalleventas/nuevo}" class="action-btn add-btn">
            Nuevo Detalle
        </a>
    </div>

    <table>

        <thead>
        <tr>
            <th>Código</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Producto</th>
            <th>Venta</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="detalle : ${detalleventas}">

            <td th:text="${detalle.codigo_detalle_venta}"></td>
            <td th:text="${detalle.cantidad}"></td>
            <td th:text="${detalle.precio_unitario}"></td>
            <td th:text="${detalle.subtotal}"></td>
            <td th:text="${detalle.productos_codigo_producto}"></td>
            <td th:text="${detalle.ventas_codigo_venta}"></td>

            <td>
                <div class="table-actions">

                    <!-- EDITAR -->
                    <a th:href="@{/detalleventas/editar/{id}(id=${detalle.codigo_detalle_venta})}"
                       class="action-btn edit-btn">
                        Editar
                    </a>

                    <!-- ELIMINAR -->
                    <a th:href="@{/detalleventas/eliminar/{id}(id=${detalle.codigo_detalle_venta})}"
                       class="action-btn delete-btn"
                       onclick="return confirm('¿Eliminar este detalle?')">
                        Eliminar
                    </a>

                </div>
            </td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>