<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="foto-login">

    <label for="fotoInput">        <img src="/img/user.png" class="foto-perfil">
    </label>

    <input type="file" id="fotoInput" name="foto" accept="image/*" hidden>

</div>

<div class="login-container">

    <div class="login-box">

        <h2>Login</h2>

        <form th:action="@{/login}" method="post">

            <input type="text" name="username" placeholder="Usuario" required>

            <input type="password" name="password" placeholder="Contraseña" required>

            <button type="submit">Ingresar</button>

            <div th:if="${param.error}">
                Usuario o contraseña incorrectos
            </div>

            <div class="register-text">
                <a th:href="@{/register}">¿No tienes una cuenta? Regístrate</a>
            </div>

        </form>

    </div>

</div>

</body>
</html>