<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Productos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="navbar">

    <h2>Gestión de Productos</h2>

    <a th:href="@{/home}" class="back-home">
        Volver al Home
    </a>

</div>

<div class="crud-container">

    <div class="crud-header">
        <h1 class="crud-title">Lista de Productos</h1>
    </div>

    <!-- BOTÓN NUEVO -->
    <div class="crud-actions">
        <a th:href="@{/productos/nuevo}" class="action-btn add-btn">
            Nuevo Producto
        </a>
    </div>

    <table>

        <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="producto : ${productos}">

            <td th:text="${producto.codigo_producto}"></td>
            <td th:text="${producto.nombre_producto}"></td>
            <td th:text="${producto.precio}"></td>
            <td th:text="${producto.stock}"></td>
            <td th:text="${producto.estado}"></td>

            <td>
                <div class="table-actions">

                    <!-- EDITAR -->
                    <a th:href="@{/productos/editar/{id}(id=${producto.codigo_producto})}"
                       class="action-btn edit-btn">
                        Editar
                    </a>

                    <!-- ELIMINAR -->
                    <a th:href="@{/productos/eliminar/{id}(id=${producto.codigo_producto})}"
                       class="action-btn delete-btn"
                       onclick="return confirm('¿Eliminar este producto?')">
                        Eliminar
                    </a>

                </div>
            </td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>