<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Formulario Productos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="crud-container">

    <div class="crud-header">
        <h1 class="crud-title">Formulario de Productos</h1>
    </div>

    <form th:action="@{/productos/guardar}" th:object="${producto}" method="post">

        <!-- ID oculto (para editar) -->
        <input type="hidden" th:field="*{codigo_producto}">

        <div class="form-group">
            <label>Nombre del Producto</label>
            <input type="text" th:field="*{nombre_producto}" required>
        </div>

        <div class="form-group">
            <label>Precio</label>
            <input type="number" step="0.01" th:field="*{precio}" required>
        </div>

        <div class="form-group">
            <label>Stock</label>
            <input type="number" th:field="*{stock}" required>
        </div>

        <div class="form-group">
            <label>Estado</label>
            <input type="number" th:field="*{estado}" required>
        </div>

        <div class="crud-actions">

            <button type="submit" class="add-btn">
                Guardar
            </button>

            <a th:href="@{/productos}" class="delete-btn">
                Cancelar
            </a>

        </div>

    </form>

</div>

</body>
</html>