<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Formulario Usuarios</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="crud-container">

    <div class="crud-header">
        <h1 class="crud-title">Formulario de Usuarios</h1>
    </div>

    <form th:action="@{/usuarios/guardar}" th:object="${usuario}" method="post">

        <!-- ID oculto -->
        <input type="hidden" th:field="*{codigo_usuario}">

        <div class="form-group">
            <label>Usuario</label>
            <input type="text" th:field="*{username}" required>
        </div>

        <div class="form-group">
            <label>Contraseña</label>
            <input type="text" th:field="*{pasword}" required>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" th:field="*{email}" required>
        </div>

        <div class="form-group">
            <label>Rol</label>
            <input type="text" th:field="*{rol}" required>
        </div>

        <div class="form-group">
            <label>Estado</label>
            <input type="number" th:field="*{estado}" required>
        </div>

        <div class="crud-actions">

            <button type="submit" class="add-btn">
                Guardar
            </button>

            <a th:href="@{/usuarios}" class="delete-btn">
                Cancelar
            </a>

        </div>

    </form>

</div>

</body>
</html>