<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ventas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="navbar">

    <h2>Gestión de Ventas</h2>

    <a th:href="@{/home}" class="back-home">
        Volver al Home
    </a>

</div>

<div class="crud-container">

    <div class="crud-header">
        <h1 class="crud-title">Lista de Ventas</h1>
    </div>

    <div class="crud-actions">
        <a th:href="@{/ventas/nuevo}" class="action-btn add-btn">
            Nueva Venta
        </a>
    </div>

    <table>

        <thead>
        <tr>
            <th>Código</th>
            <th>Fecha de Venta</th>
            <th>Total</th>
            <th>Estado</th>
            <th>DPI de Cliente</th>
            <th>Código de Usuario</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="venta : ${ventas}">

            <td th:text="${venta.codigo_venta}"></td>
            <td th:text="${venta.fecha_venta}"></td>
            <td th:text="${venta.total}"></td>
            <td th:text="${venta.estado}"></td>
            <td th:text="${venta.clientes_dpi_cliente}"></td>
            <td th:text="${venta.usuarios_codigo_usuario}"></td>

            <td>
                <div class="table-actions">

                    <a th:href="@{/ventas/editar/{id}(id=${venta.codigo_venta})}"
                       class="action-btn edit-btn">
                        Editar
                    </a>

                    <a th:href="@{/ventas/eliminar/{id}(id=${venta.codigo_venta})}"
                       class="action-btn delete-btn"
                       onclick="return confirm('¿Eliminar esta venta?')">
                        Eliminar
                    </a>

                </div>
            </td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>